[submodule "minkindr_ros2"]
	path = minkindr_ros2
	url = https://github.com/TomSchammo/minkindr_ros2.git
[submodule "dvs_msgs"]
	path = dvs_msgs
	url = https://github.com/ros-event-camera/dvs_msgs.git
